<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidcoding.github"
    >
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_LOGS" />

  <application
      android:name=".GithubApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme.NoActionBar"
      >
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:launchMode="singleTask"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.activity.OauthWebViewActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        >

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="github"/>

        <data android:scheme="https" android:host="github.com" />
      </intent-filter>

    </activity>

    <!-- Repo Detail -->
    <activity
        android:name=".ui.activity.RepoDetailActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        >
      <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW"/>-->

        <!--<category android:name="android.intent.category.BROWSABLE"/>-->
        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--<category android:name="github"/>-->

        <!--<data android:scheme="https" android:host="api.github.com" />-->
      <!--</intent-filter>-->
    </activity>
    <service
        android:name=".data.oauth.OauthService"
        android:exported="false"
        />
      <meta-data
            android:name="io.fabric.ApiKey"
            android:value="423ff17515038a50c41085cc2dbd0087d2e51cbb" />
    </application>

</manifest>
